.has-error .select2-selection--single{
    border:1px solid #a94442 !important;
}

.page-header{
    box-shadow:none;
}

.page-header h2{
    border-bottom: none;
}

.sidebar-title:hover{

    background-color: #363D45;
    border-bottom: 1px solid #777777;
    height:50px;
    cursor:pointer;
}

.sidebar-title a:hover{
    text-decoration: none;
}

ul.nav-main li a span.label{
    margin-right: -10px;
}

ul.nav-main > li > a{
    padding: 12px 25px;
    border-bottom: 0.1px solid #777777;
}

.panel{

    margin-bottom: 10px;

}

.form-inline{
    margin-top: 0px;
}


.panel-body{
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0.1px solid #F2F2F2;
    padding-bottom: 10px;

}

.panel-heading a, .panel-heading button{
    margin-top: -5px;
    margin-right: 5px;

}

.panel-heading .btn-group{

    margin-top: -5px;
    margin-right: 5px;
}

.panel-heading input{

    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.form-inline button{
    margin-bottom: 5px;
}

.panel-body select{

    margin-right: 5px;
}

.form-inline select{
    margin-top: 0px;
}

.form-inline .input-group{
    margin-top: 10px;
}

.form-horizontal .control-label{
    background-color: #E1E1E1;
    margin  : 0px -7px 5px -0px;
    padding : 6px 10px 6px 5px;
    color   : #191C21;
    display: block;
}

.form-control{
    margin-bottom: 5px;
    margin-right: -10px;
}

#select-button{
    margin-bottom: 10px;
}

form{
    margin-bottom: 0px;
}

#datatable tbody input[type=checkbox]{
    margin-left:10px !important;
}

.input-group{
    margin-bottom: 10px;
}

.input-daterange{
    margin-bottom: 10px;
}

.text-uppercase{
    text-transform: uppercase;
}

.progress-header{
    font-size: 20px;
}

.progress{
    height: 30px;
}

.progress-bar{
    padding-top: 5px;
}

.panel-sign{
    border:none;
}

a .sidebar-right-toggle{
    text-decoration: none;
}

a .sidebar-right-toggle:hover{
    background-color: none;
}

.right-wrapper a{
    text-decoration: none;
    background-color: none;
}


.datatables-footer{
    margin-bottom: 20px;
}

.table-responsive{
    border:none;
}

.table input[type='checkbox']{
    margin-right: 3px;
}

.table-bordered{

}

.selectall{
    right:-10px;
    position: relative;
}
table.dataTable{
    clear:both;
    margin-top:6px !important;
    margin-bottom:6px !important;
    max-width:none !important;
    border-collapse:separate !important
}
table.dataTable td,table.dataTable th{
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{
    text-align:center
}
table.dataTable.nowrap th,table.dataTable.nowrap td{
    white-space:nowrap
}
div.dataTables_wrapper div.dataTables_length label{
    font-weight:normal;
    text-align:left;
    white-space:nowrap
}
div.dataTables_wrapper div.dataTables_length select{
    width:75px;
    display:inline-block
}
div.dataTables_wrapper div.dataTables_filter{
    text-align:right
}
div.dataTables_wrapper div.dataTables_filter label{
    font-weight:normal;
    white-space:nowrap;
    text-align:left
}
div.dataTables_wrapper div.dataTables_filter input{
    margin-left:0.5em;
    display:inline-block;
    width:auto
}
div.dataTables_wrapper div.dataTables_info{
    padding-top:8px;
    white-space:nowrap
}
div.dataTables_wrapper div.dataTables_paginate{
    margin:0;
    white-space:nowrap;
    text-align:right
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    margin:2px 0;
    white-space:nowrap
}
div.dataTables_wrapper div.dataTables_processing{
    position:absolute;
    top:50%;
    left:50%;
    width:200px;
    margin-left:-100px;
    margin-top:-26px;
    text-align:center;
    padding:1em 0
}
table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{
    padding-right:30px
}
table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{
    outline:none
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{
    cursor:pointer;
    position:relative
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{
    position:absolute;
    bottom:8px;
    right:8px;
    display:block;
    font-family:'Glyphicons Halflings';
    opacity:0.5
}
table.dataTable thead .sorting:after{
    opacity:0.2;
    content:"\e150"
}
table.dataTable thead .sorting_asc:after{
    content:"\e155"
}
table.dataTable thead .sorting_desc:after{
    content:"\e156"
}
table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{
    color:#eee
}
div.dataTables_scrollHead table.dataTable{
    margin-bottom:0 !important
}
div.dataTables_scrollBody table{
    border-top:none;
    margin-top:0 !important;
    margin-bottom:0 !important
}
div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after{
    display:none
}
div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td{
    border-top:none
}
div.dataTables_scrollFoot table{
    margin-top:0 !important;
    border-top:none
}
@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{
        text-align:center
    }
}
table.dataTable.table-condensed>thead>tr>th{
    padding-right:20px
}
table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after{
    top:6px;
    right:6px
}
table.table-bordered.dataTable th,table.table-bordered.dataTable td{
    border-left-width:0
}
table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{
    border-right-width:0
}
table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{
    border-bottom-width:0
}
div.dataTables_scrollHead table.table-bordered{
    border-bottom-width:0
}
div.table-responsive>div.dataTables_wrapper>div.row{
    margin:0
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{
    padding-left:0
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{
    padding-right:0
}

.dataTables_paginate{
    float:right;
    text-align:right;
    padding-top:0.25em
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.3em 0.7em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
    *cursor:hand;
    color:#333 !important;
    border:1px solid transparent;
    border-radius:2px
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color:#333 !important;
    border:1px solid #979797;
    background-color:white;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    cursor:default;
    color:#666 !important;
    border:1px solid transparent;
    background:transparent;
    box-shadow:none
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color:white !important;
    border:1px solid #111;
    background-color:#585858;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background:-webkit-linear-gradient(top, #585858 0%, #111 100%);
    background:-moz-linear-gradient(top, #585858 0%, #111 100%);
    background:-ms-linear-gradient(top, #585858 0%, #111 100%);
    background:-o-linear-gradient(top, #585858 0%, #111 100%);
    background:linear-gradient(to bottom, #585858 0%, #111 100%)
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    outline:none;
    background-color:#2b2b2b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow:inset 0 0 3px #111
}
.dataTables_wrapper .dataTables_paginate .ellipsis{
    padding:0 1em
}
.dataTables_wrapper .dataTables_processing{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    height:40px;
    margin-left:-50%;
    margin-top:-25px;
    padding-top:20px;
    text-align:center;
    font-size:1.2em;
    background-color:white;
    background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)
}
.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{
    color:#333
}
.dataTables_wrapper .dataTables_scroll{
    clear:both
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{
    *margin-top:-1px;
    -webkit-overflow-scrolling:touch
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td{
    vertical-align:middle
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing{
    height:0;
    overflow:hidden;
    margin:0 !important;
    padding:0 !important
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom:1px solid #111
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,.dataTables_wrapper.no-footer div.dataTables_scrollBody table{
    border-bottom:none
}
.dataTables_wrapper:after{
    visibility:hidden;
    display:block;
    content:"";
    clear:both;
    height:0
}
@media screen and (max-width: 767px){
    .dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{
        float:none;
        text-align:center
    }
    .dataTables_wrapper .dataTables_paginate{
        margin-top:0.5em
    }

}
@media screen and (max-width: 640px){
    .dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{
        float:none;
        text-align:center
    }
    .dataTables_wrapper .dataTables_filter{
        margin-top:0.5em
    }

}

.datatable_info{
    padding:20px;
}

select[name=datatable_length] {    
    height: 40px;
    padding:5px;
}

.panel-group .panel-accordion .panel-heading{
    border-radius: 0px;
    border: 1px solid #F6F6F6;
}

.note-toolbar{
    top:5px;
}

.panel-group .panel-accordion{
    border: none;
}

.widget-toggle-expand .widget-header{
    padding: 0;
}

#menu_action{
    background-color: white;
    min-height: 1px;
    border-top: 1px solid lightgray;
}

#datatable td{
    vertical-align: middle;
}

.aksi a{
    margin-top: 5px;
}

.sidebar-widget.widget-calendar ul{
    border: none;
}


@media (max-width: 991px) {
    .menu_action{
        position: fixed;
        bottom: 0px;
        z-index: 1000 !important;
        right: 0px;
        padding:5px;
        padding-top: 10px;
        padding-right: 10px;
        background-color: white;
        width: 100%;
    }
    
    .aksi a{
        min-width: 50px;
        margin-top: 5px;
    }
}
@media (max-width: 450px) {

    
}